python-dotenv
ipykernel
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-google-genai
setuptools
fastembed
pymupdf
faiss-cpu==1.13.2
langgraph
bcrypt
streamlit
fastapi
uvicorn 
python-multipart

-e .